<!-- todo_list/todo_app/templates/todo_app/todoitem_form.html -->
{% extends "base.html" %}

{% block content %}

<h3>Add To Do List Item</h3>
    {% for response in responses %}
        <li> {{ response }}</li>
    {% endfor %}
<form method="post">
    {% csrf_token %}
    To Do List Item Title<br>
    <input name="to_do_list_item_title" value="{{ toDoItem.to_do_item_title }}" ><br>
    To Do List Item Due Date<br>
    <input type="date" name="to_do_list_item_due_date" value="{{ toDoItem.to_do_due_date }}"><br>
    To Do List Item Description<br>
    <input name="to_do_list_item_description" value="{{ toDoItem.to_do_description }}"><br>
    <input
        value="Submit"
        type="submit">
    <input
        value="Cancel"
        type="button"
        onclick="location.href='{% url "toDoListDetail" toDoItem.to_do_list_id %}'">
</form>

{% endblock %}