<!-- todo_list/todo_app/templates/todo_app/todo_list.html -->
{% extends "base.html" %}

{% block content %}
<div>
    <div>
        <div>
            <h3>Edit list:</h3>
            <h5>{{ todo_list.to_do_list_title | upper }}</h5>
        </div>
        <ul>
            {% for todo in toDoItem %}
            <li>
                <div>
                    <div
                        role="button"
{#                        onclick="location.href='' + '{% url "item-update" todo_list.id todo.id %}'"#}
                    >
                        {{ todo.to_do_item_title }}
                        (Due {{ todo.to_do_due_date | date:"l, F j" }})
                    </div>
                </div>
            </li>
            {% empty %}
            <p>There are no to-do items in this list.</p>
            {% endfor %}
        </ul>
        <p>
            <input
                value="Add a new item"
                type="button"
                onclick="location.href='{% url "addToDoListItem" todo_list.id %}'"
            />
        </p>
    </div>
</div>
{% endblock %}